/* You can add global styles to this file, and also import other style files */
body{
	background: #F5F6FA;
}

/*header start*/
.header {
  box-shadow: 0 2px 12px rgb(0,0,0,0.06);
  padding: 30px 65px;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header img{
	height: 32px;
}
/*header end*/

/*add course start*/
.detailsdiv{
	background: #fff;
	padding: 0;
}
.detailsdiv .innerdiv{
	padding: 20px 80px;
}
.detailsdiv .innerdiv h1{
	font-size: 36px;
}
.imgdiv{
	padding: 0;
}
.imgdiv img{
  float: right; 
  width: 70%;
  margin-top: 10%;
}
.savediv{
	position: absolute;
  width: 100%;
  background: #fff;
  bottom: 0;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
  padding: 20px;
  text-align: right;
}
.demodiv{
  background: #eee;
  padding: 25px;
  margin-right: 10px;
  width: 25px;
}
.upload{
	margin-left: auto;
  color: #197df6;
  font-size: 13px;
}
.batchdetails-head{
	padding: 0px;
}
.dropdown-menu{
	border: 0px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
}
label{
	font-size: 15px;
}
/*add course end*/

